@page "/"
@using System.Threading
@using System.Diagnostics

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Play your game <a href="PlayLove/pong2d">here</a></p>

@code {
    protected override async Task OnInitializedAsync()
    {
        var spin = new SpinWait();
        var startInfo = new ProcessStartInfo { FileName = "powershell", Arguments = @".\install-dependencies.ps1" };
        Process p = new Process { StartInfo = startInfo };
        p.StartInfo.RedirectStandardOutput = true;
        p.Start();
        while(!p.HasExited)
        {
            Console.WriteLine(p.StandardOutput.ReadToEnd());
            spin.SpinOnce();
        };
    }
    
}
