@page "/PlayLove/{gameName}"
@using System.Diagnostics
@using System.Threading
@inject NavigationManager NavManager

<h1>Loading...</h1>

@if(gameBuildFailed)
{
    <p>Sorry, building the game failed.</p>
    <p>@errorMsg</p>
}

@code {

    [Parameter]
    public string GameName { get; set; }

    private bool gameBuildFailed = false;

    private string? errorMsg;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var spin = new SpinWait();
        ProcessStartInfo startInfo = new ProcessStartInfo {
            FileName = "powershell.exe",
            Arguments = $"/scripts/build-love-game.ps1 {GameName}",
            RedirectStandardOutput = true };
        Process gameBuildProc = new Process { StartInfo = startInfo };
        gameBuildProc.Start();
        while(!gameBuildProc.HasExited)
        {
            var output = gameBuildProc.StandardOutput.ReadToEnd();
            errorMsg += output;
            spin.SpinOnce();
        }
        Console.WriteLine(errorMsg);
        if(gameBuildProc.ExitCode == 0)
        {
            NavManager.NavigateTo($"{GameName}/index.html");
        }
        else { gameBuildFailed = !gameBuildFailed; }
    }

}
